.App {
  text-align: center;
}

.main-container {
  padding: 20px;  
}

.main-paper {
  padding: 20px;
}

.MenuComponent ul li {
  list-style: none;
  padding-bottom: 10px;
}

.MenuComponent li button{
  width: 80%;
  max-width: 500px;  
}

.MenuComponent li a {
  text-decoration: none;
}
.button-back-container button{
  float: left;

}
a.back-button {
  text-decoration: none;
  text-align: left;
}
.button-back-container {
  height: 50px;
}
.DetailsComponent .details-image img {
 width: 200px;
 height: 200px;

}

.DetailsComponent div[class*="MuiAvatar-root"] {
  width: 200px;
  height: 200px;
  text-align: center;
}
.detail-form {
  text-align: left
}

.detail-form .details-pool .label{
  width: 150px;
  display: inline-block;
  font-weight: 600;
}